<!-- <app-student-list></app-student-list> -->
<!-- <app-student-template-form></app-student-template-form> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-ChangeDetection></app-ChangeDetection> -->

<!-- <app-Observable></app-Observable> -->
<!-- <app-Operator></app-Operator> -->
<!-- <app-Sub1></app-Sub1>
<app-Sub2></app-Sub2> -->
<!-- <app-TestBoostrap></app-TestBoostrap> -->
<!-- <app-DropBox></app-DropBox> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="observable">observable</a>
                <a class="nav-link" href="operator">operator</a>
                <a class="nav-link" href="dropbox">dropbox</a>
                <a class="nav-link" href="student">Student</a>

            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>