body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    margin: auto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~bootstrap/dist/css/bootstrap.css";