<form #form="ngForm">
    Student name:
    <input type="text" [(ngModel)]="student.name" name="name" />
    <!-- <label>
      <input type="radio" name='pass' [value]="true" [(ngModel) ="student.pass"]/>
    </label>
    <label>
      <input type="radio" name='pass' [value]="false" [(ngModel) ="student.pass"] (ngModelChange)="studentPass($event)"/>
    </label> -->
    <input type="radio" name="pass" [value]="true" [(ngModel)]="student.pass" />
    <input type="radio" name="pass" [value]="false" [(ngModel)]="student.pass" (ngModelChange)="studentPass($event)" />

</form>
<div>
    MODEL: {{student | json}}
</div>
